.checkout-section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
  padding-top: 300px;

  h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 36px;
    color: #000;
  }
  h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
  }
  h5 {
    font-family: "Baloo Da 2", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #878686;
    margin-bottom: 10px;
  }

  .checkout-form {
    width: 710px;
    z-index: 0;
    margin-top: 24px;
    .step {
      display: flex;
      flex-direction: row;
      padding: 20px 10px;
      &--button {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        width: 100%;
      }
      .content {
        width: 100%;
        margin-left: 10px;
        .inputs {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .MuiTextField-root {
            margin: 10px;
            width: 100%;
          }
          .StripeElement {
            width: 100%;
          }
          .box {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            height: 75px;
            width: 100%;
            // max-width: 320px;
            border: 1px solid #c1c1c1;
            margin: 10px;
            padding: 0 50px;
            background-color: white;
            opacity: 0.6;
            cursor: pointer;
            &--active {
              border: 1px solid #ffc700;
              opacity: 1;
            }
            &:hover {
              opacity: 1;
              border: 1px solid #ffc700;
              transition: border 0.2s ease-in-out;
            }
            .icon-tabler {
              position: absolute;
              left: 30px;
              opacity: 0.5;
              transition: opacity 0.2s ease-in-out;
            }
            p {
              font-family: "Quicksand", sans-serif;
              font-weight: 600;
              color: #4a4a4a;
              transition: opacity 0.2s ease-in-out;
            }
          }
        }
      }
    }
    button {
      font-family: "Quicksand", sans-serif;
      font-size: 20px;
      font-weight: 800;
      border: none;
      background-color: #ff5959;
      font-size: 18px;
      color: #fff;
      width: 90%;
      height: 50px;
      border-radius: 50px;
      margin: 10px;

      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: #ff3232;
      }
      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
    .hint {
      font-size: 14px;
      margin-left: 20px;
      color: #ff5959a9;
    }
  }
}
