.home-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;

  h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 36px;
    color: #844827;
  }

  .details {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    h2 {
      font-family: "Economica", sans-serif;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.14em;
    }

    .size-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 3;
      .circles {
        display: flex;
        padding-top: 30px;
      }
      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin-right: 26px;
        border: 1px solid #cccccc;
        color: #cccccc;
        z-index: 99;
        cursor: pointer;
      }
      .selected {
        border: 1px solid #1a1a1a;
        color: #1a1a1a;
      }
    }
  }
  .pizza-menu {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
}
