.leaf-1 {
  position: absolute;
  width: 220px;
  top: -120px;
  right: 500px;
  z-index: -99;
}
.leaf-2 {
  position: absolute;
  width: 161px;
  bottom: 170px;
  left: 50px;
  z-index: -99;
}
.leaf-3 {
  position: absolute;
  width: 161px;
  bottom: -150px;
  left: 200px;
  transform: rotate(60deg);
  z-index: -99;
}
.leaf-4 {
  position: absolute;
  width: 99px;
  top: 300px;
  left: 400px;
  z-index: -99;
}
.leaf-5 {
  position: absolute;
  width: 77px;
  top: 150px;
  left: 600px;
  z-index: -99;
}
.leaf-6 {
  position: absolute;
  width: 220px;
  bottom: -80px;
  right: 50px;
  z-index: -99;
}
