.home-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;

  h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 36px;
    color: #844827;
  }

  .details {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    .pizza-price {
      font-family: "Economica", sans-serif;
      font-size: 2.5rem;
      border-radius: 20px;
      padding: 20px 60px;
      margin: 0 20px;
      max-height: 167px;
    }
    h2 {
      font-family: "Economica", sans-serif;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.14em;
    }
  }
  .pizza-menu {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
}
