.drop-enter {
  opacity: 0;
  z-index: 99;
  transform: scale(4);
  transition: opacity 500ms, transform 500ms;
}
.drop-enter-active {
  opacity: 0;
  z-index: 99;
  transform: scale(4);
  transition: opacity 300ms, transform 500ms;
}

.drop-enter-done {
  opacity: 1;
  z-index: 99;
  transform: scale(1);
  transition: opacity 300ms, transform 500ms;
}

.drop-exit {
  opacity: 1;
  z-index: 99;
  transform: scale(1);
}
.drop-exit-active {
  opacity: 1;
  z-index: 99;
  transform: translate3d(0, 600px, 0);
  transition: opacity 800ms, transform 900ms;
}

@media (max-width: 890px) {
  .drop-exit-active {
    opacity: 0;
    z-index: 99;
    transform: translate3d(0, 0, 0);
    transition: opacity 800ms, transform 900ms;
  }
}
