.drop-enter {
  opacity: 0;
  z-index: 99;
  transform: scale(3);
}
.drop-enter-active {
  opacity: 1;
  z-index: 99;
  transform: scale(3);
  transition: opacity 400ms, transform 400ms;
}

.drop-enter-done {
  opacity: 1;
  z-index: 99;
  transform: scale(1);
  transition: opacity 400ms, transform 400ms;
}

.drop-exit {
  opacity: 1;
  z-index: 99;
  transform: scale(1);
}
.drop-exit-active {
  opacity: 0;
  z-index: 99;
  transform: scale(3);
  transition: opacity 800ms, transform 900ms;
}
