.zoomOut-enter {
  opacity: 0;
  transform: translateX(-50%) translateY(50%) scale(2.5);
}
.zoomOut-enter-active {
  opacity: 1;
  transform: translateX(-50%) translateY(50%) scale(3);
  transition: opacity 400ms, transform 400ms;
}
.zoomOut-exit {
  opacity: 1;
  transform: translateX(-50%) translateY(50%) scale(1);
}
.zoomOut-exit-active {
  opacity: 0;
  // transform: translateX(-50%) translateY(100%) scale(1);
  transition: opacity 800ms, transform 900ms;
}
