@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2:400,500,600,700,800|Economica:400,700|Poppins:400,500,600,700,800,900&display=swap");

$font-header: "Poppins", sans-serif;
$font-decorative: "Economica", sans-serif;
$font-default: "Baloo Da 2", sans-serif;

// COLORS
$primary: #1a212f;
$secondary: #b9ffb7;
$black: #000;
$white: #fff;
$light: #74777a;
$background: #1a212f;
$error: #e94633;
$error-dark: #d13639;

$test: #cfcfcf;
